.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.nav-user-profile {
  border-radius: 50% 50%;
  max-width: 3.5em;
  height: auto;
  box-shadow: 0 0 4px 0 #b3bac7;
  width: 50;
}

.dropdown-toggle::after {
  display: none;
}

.navbar {
  padding: 0.5rem 7rem;
}

.login-btn {
  padding: 0.5em 2em;
  background-color: rgb(2, 150, 187);
  border: none;
  border-radius: 10rem;
  color: white;
  margin: 1em 0;
}

/* Footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(35, 35, 37);
  color: white;
  text-align: center;
  height: 100%;
}

#terms-of-use {
  padding-top: 2.5em;
}

#terms-of-use > p {
  margin-bottom: 0.5em;
}

#terms-of-use > p > a {
  color: white;
}

#copyright {
  color: rgb(107, 102, 102);
  font-size: 0.85em;
  padding-bottom: 2em;
  margin-bottom: 0;
}

/* Jumbotron */
.jumbotron-home {
  border-radius: 0;
  background-size: cover;
  background-position: center;
  height: 80vh;
  margin-bottom: 0;
}

.jumbotron-overlay {
  padding-top: 15vh;
  text-align: center;
}

.jumbotron-container > div > h1,
p {
  color: white;
}

.jumbotron-container > div > h1 {
  font-size: 7.5em;
}

.jumbotron-container > div > p {
  font-size: 3em;
  margin-bottom: 1em;
}

.jumbotron-btn {
  background-color: black;
  color: white;
  padding: 0.5em 5em;
  border-radius: 10rem;
}

.jumbotron-btn:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(27, 27, 27);
}

/* Cards */
.page-title {
  margin: 1em 0 0 0;
}

.card {
  border: none;
  margin-top: 1.5em;
}

#cards-container {
  text-align: center;
}

.card-title {
  font-size: 1.5em;
}

/* Submit Card */
#form-bg {
  background-size: cover;
  background-position: center;
  height: 80vh;
}

#post-card-btn {
  margin-bottom: 2em;
}

#post-card-btn > a {
  color: white;
  margin-top: 2em;
}

#post-card-btn > a:hover {
  text-decoration: none;
}

.my-form {
  text-align: left;
  position: absolute;
  background-color: white;
  width: 30%;
  top: 30vh;
  left: 35%;
  padding: 1.5em;
  border-radius: 0.25em;
  box-shadow: 3px 4px 8px 1px rgba(77, 77, 77, 1);
}

/* Profile */
.user-info {
  margin-top: 2em;
  padding: 1.5em;
  border-radius: 0.25em;
  box-shadow: 3px 4px 8px 1px rgba(77, 77, 77, 1);
}

.black {
  color: black;
  font-size: 5em;
  text-align: center;
  margin: 10vh 0;
}

.user-info > div > div > img {
  border-radius: 50%;
  width: 60%;
}

.user-info > div > div > p {
  color: black;
  margin: 0;
}

.profile-btn {
  width: 100%;
}

.my-cards > div {
  text-align: center;
}

/* Admin */
.no-permission {
  color: black;
  text-align: center;
  padding: 10vh 0;
}

/* Privacy Policy */
.privacy-policy > p {
  color: black;
}

.verify-email {
  color: black;
  text-align: center;
}

.verify-email > button > a {
  color: white;
}

.verify-email > button > a:hover {
  text-decoration: none;
}
