.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header */
.nav-user-profile {
  border-radius: 50% 50%;
  max-width: 3.5em;
  height: auto;
  box-shadow: 0 0 4px 0 #b3bac7;
  width: 50;
}

.dropdown-toggle::after {
  display: none;
}

.navbar {
  padding: 0.5rem 7rem;
}

.login-btn {
  padding: 0.5em 2em;
  background-color: rgb(2, 150, 187);
  border: none;
  border-radius: 10rem;
  color: white;
  margin: 1em 0;
}

/* Footer */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(35, 35, 37);
  color: white;
  text-align: center;
}

#terms-of-use {
  padding-top: 2.5em;
}

#terms-of-use > p {
  margin-bottom: 0.5em;
}

#terms-of-use > p > a {
  color: white;
}

#copyright {
  color: rgb(107, 102, 102);
  font-size: 0.85em;
  padding-bottom: 2em;
}

/* Jumbotron */
.jumbotron-home {
  border-radius: 0;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.jumbotron-overlay {
  padding-top: 15vh;
}

.jumbotron-container > div > h1,
p {
  color: white;
}

.jumbotron-container > div > h1 {
  font-size: 7.5em;
}

.jumbotron-container > div > p {
  font-size: 3em;
  margin-bottom: 1em;
}

.jumbotron-btn {
  background-color: black;
  color: white;
  padding: 0.5em 5em;
  border-radius: 10rem;
}

.jumbotron-btn:hover {
  color: white;
  text-decoration: none;
  background-color: rgb(27, 27, 27);
}

/* Cards */
.page-title {
  margin-bottom: 1em;
}

.page-text {
  color: black;
  text-align: center;
  margin-top: 2em;
}

.card {
  border: none;
}

.card-title {
  font-size: 1.5em;
}
